@import "tailwindcss";

@theme {
  --color-rabbit-red: #ea2e0e;
}

@layer base {
  html {
    /* background-color: #faf6f0; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}
